*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

.App {
  background: rgb(2,0,36);
  width: 100%;
  height: 200vh;
 }

.allcards {
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 20px;
  justify-content: space-evenly; 
}

.loader {
  text-align: center;
  justify-content: center;
 align-items: center; 
 display:flex;
 padding-top: 220px;
}

@media screen and (max-width: 600px) {
  .allcards {
    grid-template-columns: repeat(1,auto);
    background-color: rgb(2,0,36)
  }
}
